In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:

from sklearn.model_selection import train_test_split # to split the data into two parts
# from sklearn.cross_validation import KFold # use for cross validation
from sklearn.preprocessing import StandardScaler # for normalization
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline # pipeline making
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import SelectFromModel
from sklearn import metrics # for the check the error and accuracy of the model
from sklearn.metrics import mean_squared_error,r2_score

In [4]:
!pip install keras

Collecting keras
  Using cached keras-2.7.0-py2.py3-none-any.whl (1.3 MB)
Installing collected packages: keras
Successfully installed keras-2.7.0

In [6]:
!pip install tensorflow

Collecting tensorflow
  Using cached tensorflow-2.7.0-cp39-cp39-macosx_10_11_x86_64.whl (207.1 MB)
Collecting libclang>=9.0.1
  Using cached libclang-12.0.0-py2.py3-none-macosx_10_9_x86_64.whl (12.2 MB)
Collecting h5py>=2.9.0
  Using cached h5py-3.5.0-cp39-cp39-macosx_10_9_x86_64.whl (3.0 MB)
Requirement already satisfied: numpy>=1.14.5 in /Users/aaron/Documents/Data Science/capstone_energy/.venv/lib/python3.9/site-packages (from tensorflow) (1.21.2)
Collecting grpcio<2.0,>=1.24.3
  Using cached grpcio-1.41.1-cp39-cp39-macosx_10_10_x86_64.whl (3.9 MB)
Collecting wrapt>=1.11.0
  Using cached wrapt-1.13.3-cp39-cp39-macosx_10_9_x86_64.whl (33 kB)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/aaron/Documents/Data Science/capstone_energy/.venv/lib/python3.9/site-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: six>=1.12.0 in /Users/aaron/Documents/Data Science/capstone_energy/.venv/lib/python3.9/site-packages (from tensorflow) (1.16.0)
Collecting flatbuffers<3.0,>=1.12
  Using cached flatbuffers-2.0-py2.py3-none-any.whl (26 kB)
Collecting tensorboard~=2.6
  Using cached tensorboard-2.7.0-py3-none-any.whl (5.8 MB)
Collecting tensorflow-io-gcs-filesystem>=0.21.0
  Using cached tensorflow_io_gcs_filesystem-0.22.0-cp39-cp39-macosx_10_14_x86_64.whl (1.6 MB)
Collecting gast<0.5.0,>=0.2.1
  Using cached gast-0.4.0-py3-none-any.whl (9.8 kB)
Collecting wheel<1.0,>=0.32.0
  Using cached wheel-0.37.0-py2.py3-none-any.whl (35 kB)
Collecting astunparse>=1.6.0
  Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: protobuf>=3.9.2 in /Users/aaron/Documents/Data Science/capstone_energy/.venv/lib/python3.9/site-packages (from tensorflow) (3.19.1)
Collecting termcolor>=1.1.0
  Using cached termcolor-1.1.0.tar.gz (3.9 kB)
  Preparing metadata (setup.py) ... done
Collecting tensorflow-estimator<2.8,~=2.7.0rc0
  Using cached tensorflow_estimator-2.7.0-py2.py3-none-any.whl (463 kB)
Collecting opt-einsum>=2.3.2
  Using cached opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Collecting google-pasta>=0.1.1
  Using cached google_pasta-0.2.0-py3-none-any.whl (57 kB)
Collecting absl-py>=0.4.0
  Using cached absl_py-1.0.0-py3-none-any.whl (126 kB)
Collecting keras-preprocessing>=1.1.1
  Using cached Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
Requirement already satisfied: keras<2.8,>=2.7.0rc0 in /Users/aaron/Documents/Data Science/capstone_energy/.venv/lib/python3.9/site-packages (from tensorflow) (2.7.0)
Requirement already satisfied: setuptools>=41.0.0 in /Users/aaron/Documents/Data Science/capstone_energy/.venv/lib/python3.9/site-packages (from tensorboard~=2.6->tensorflow) (49.2.1)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Using cached google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: werkzeug>=0.11.15 in /Users/aaron/Documents/Data Science/capstone_energy/.venv/lib/python3.9/site-packages (from tensorboard~=2.6->tensorflow) (2.0.2)
Collecting google-auth<3,>=1.6.3
  Using cached google_auth-2.3.3-py2.py3-none-any.whl (155 kB)
Collecting markdown>=2.6.8
  Using cached Markdown-3.3.4-py3-none-any.whl (97 kB)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/aaron/Documents/Data Science/capstone_energy/.venv/lib/python3.9/site-packages (from tensorboard~=2.6->tensorflow) (2.26.0)
Collecting tensorboard-plugin-wit>=1.6.0
  Using cached tensorboard_plugin_wit-1.8.0-py3-none-any.whl (781 kB)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Using cached tensorboard_data_server-0.6.1-py3-none-macosx_10_9_x86_64.whl (3.5 MB)
Collecting rsa<5,>=3.1.4
  Using cached rsa-4.7.2-py3-none-any.whl (34 kB)
Collecting pyasn1-modules>=0.2.1
  Using cached pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting cachetools<5.0,>=2.0.0
  Using cached cachetools-4.2.4-py3-none-any.whl (10 kB)
Collecting requests-oauthlib>=0.7.0
  Using cached requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/aaron/Documents/Data Science/capstone_energy/.venv/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/aaron/Documents/Data Science/capstone_energy/.venv/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.0.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/aaron/Documents/Data Science/capstone_energy/.venv/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/aaron/Documents/Data Science/capstone_energy/.venv/lib/python3.9/site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2021.10.8)
Collecting pyasn1<0.5.0,>=0.4.6
  Using cached pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Collecting oauthlib>=3.0.0
  Using cached oauthlib-3.1.1-py2.py3-none-any.whl (146 kB)
Using legacy 'setup.py install' for termcolor, since package 'wheel' is not installed.
Installing collected packages: pyasn1, rsa, pyasn1-modules, oauthlib, cachetools, requests-oauthlib, google-auth, wheel, tensorboard-plugin-wit, tensorboard-data-server, markdown, grpcio, google-auth-oauthlib, absl-py, wrapt, termcolor, tensorflow-io-gcs-filesystem, tensorflow-estimator, tensorboard, opt-einsum, libclang, keras-preprocessing, h5py, google-pasta, gast, flatbuffers, astunparse, tensorflow
    Running setup.py install for termcolor ... done
Successfully installed absl-py-1.0.0 astunparse-1.6.3 cachetools-4.2.4 flatbuffers-2.0 gast-0.4.0 google-auth-2.3.3 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.41.1 h5py-3.5.0 keras-preprocessing-1.1.2 libclang-12.0.0 markdown-3.3.4 oauthlib-3.1.1 opt-einsum-3.3.0 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.0 rsa-4.7.2 tensorboard-2.7.0 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.0 tensorflow-2.7.0 tensorflow-estimator-2.7.0 tensorflow-io-gcs-filesystem-0.22.0 termcolor-1.1.0 wheel-0.37.0 wrapt-1.13.3

In [9]:

import keras
from keras.layers import Dense
from keras.models import Sequential
#from keras.utils import to_categorical
#from keras.optimizers import SGD 
from keras.callbacks import EarlyStopping
from keras.utils import np_utils
import itertools
from keras.layers import LSTM
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.layers import Dropout

In [ ]:


import sys
# adding to the path variables the one folder higher (locally, not changing system variables)
sys.path.append("..")

%matplotlib inline

In [10]:
import mlflow

from modeling.config import EXPERIMENT_NAME
TRACKING_URI = open(".mlflow_uri").read().strip()

"""
# setting the MLFlow connection and experiment
mlflow.set_tracking_uri(TRACKING_URI)
mlflow.set_experiment(EXPERIMENT_NAME)
mlflow.start_run()
run = mlflow.active_run()

or parameters of the model (fit_intercept for Linear Regression model)
mlflow_params = {
      "altitude_low_meters_mean": altitude_low_meters_mean,
      "altitude_high_meters_mean": altitude_high_meters_mean,
      "altitude_mean_log_mean": altitude_mean_log_mean,
      "fit_intercept": True,
  }


# logging params to mlflow
#mlflow.log_params(params)
# setting tags
mlflow.set_tag("model", "XGBoost")
mlflow.set_tag("features", "imbalance price")
# logging metrics
# mlflow.log_metric("train-" + "RMSE", rmse_train)
# mlflow.log_metric("test-" + "RMSE", rmse_test)
# mlflow.log_metric("train-" + "R2", rsquared_train)
# mlflow.log_metric("test-" + "R2", rsquared_test)
# end run
# mlflow.end_run()
"""

'\n# setting the MLFlow connection and experiment\nmlflow.set_tracking_uri(TRACKING_URI)\nmlflow.set_experiment(EXPERIMENT_NAME)\nmlflow.start_run()\nrun = mlflow.active_run()\n\nor parameters of the model (fit_intercept for Linear Regression model)\nmlflow_params = {\n      "altitude_low_meters_mean": altitude_low_meters_mean,\n      "altitude_high_meters_mean": altitude_high_meters_mean,\n      "altitude_mean_log_mean": altitude_mean_log_mean,\n      "fit_intercept": True,\n  }\n\n\n# logging params to mlflow\n#mlflow.log_params(params)\n# setting tags\nmlflow.set_tag("model", "XGBoost")\nmlflow.set_tag("features", "imbalance price")\n# logging metrics\n# mlflow.log_metric("train-" + "RMSE", rmse_train)\n# mlflow.log_metric("test-" + "RMSE", rmse_test)\n# mlflow.log_metric("train-" + "R2", rsquared_train)\n# mlflow.log_metric("test-" + "R2", rsquared_test)\n# end run\n# mlflow.end_run()\n'

In [11]:
train = pd.read_csv('../data/train.csv')
train.head()

              datetime         1
0  2013-12-31 23:00:00   917.118
1  2014-01-01 00:00:00  1264.266
2  2014-01-01 01:00:00   746.810
3  2014-01-01 02:00:00   -15.512
4  2014-01-01 03:00:00   -36.904

In [13]:
train = train.rename(columns={'1':'imb_price'})
train.head()

              datetime  imb_price
0  2013-12-31 23:00:00    917.118
1  2014-01-01 00:00:00   1264.266
2  2014-01-01 01:00:00    746.810
3  2014-01-01 02:00:00    -15.512
4  2014-01-01 03:00:00    -36.904

In [12]:
test = pd.read_csv('../data/test.csv')
test.head()

              datetime         1
0  2019-03-05 06:00:00 -349.8990
1  2019-03-05 07:00:00  372.9630
2  2019-03-05 08:00:00  371.4125
3  2019-03-05 09:00:00  817.3485
4  2019-03-05 10:00:00  638.5965

In [14]:
test = test.rename(columns={'1':'imb_price'})
test.head()

              datetime  imb_price
0  2019-03-05 06:00:00  -349.8990
1  2019-03-05 07:00:00   372.9630
2  2019-03-05 08:00:00   371.4125
3  2019-03-05 09:00:00   817.3485
4  2019-03-05 10:00:00   638.5965

In [17]:
# shift function for one-lagged series for training data set

train['shift1'] = train['imb_price'].shift(-1)
train.tail()

                  datetime  imb_price   shift1
45338  2019-03-05 01:00:00    147.278  -28.272
45339  2019-03-05 02:00:00    -28.272 -201.291
45340  2019-03-05 03:00:00   -201.291   83.710
45341  2019-03-05 04:00:00     83.710 -102.683
45342  2019-03-05 05:00:00   -102.683      NaN

In [16]:
# shift function for one-lagged series for test data set

test['shift1'] = test['imb_price'].shift(-1)
test.tail()

                  datetime   imb_price      shift1
19428  2021-05-22 18:00:00   -1.051667   14.628167
19429  2021-05-22 19:00:00   14.628167   30.308000
19430  2021-05-22 20:00:00   30.308000  164.239000
19431  2021-05-22 21:00:00  164.239000  298.170000
19432  2021-05-22 22:00:00  298.170000         NaN

In [18]:
# removing the last line in the training data set
train = train.dropna()
train.tail()

                  datetime  imb_price   shift1
45337  2019-03-05 00:00:00  -328.8805  147.278
45338  2019-03-05 01:00:00   147.2780  -28.272
45339  2019-03-05 02:00:00   -28.2720 -201.291
45340  2019-03-05 03:00:00  -201.2910   83.710
45341  2019-03-05 04:00:00    83.7100 -102.683

In [19]:
# removing the last line in the test data set
test = test.dropna()
test.tail()

                  datetime   imb_price      shift1
19427  2021-05-22 17:00:00  -16.731500   -1.051667
19428  2021-05-22 18:00:00   -1.051667   14.628167
19429  2021-05-22 19:00:00   14.628167   30.308000
19430  2021-05-22 20:00:00   30.308000  164.239000
19431  2021-05-22 21:00:00  164.239000  298.170000

In [20]:
# removing datetime column time in train data set in order to convert it into a non-time series problem
train = train.drop('datetime', axis=1)
train.head()

   imb_price    shift1
0    917.118  1264.266
1   1264.266   746.810
2    746.810   -15.512
3    -15.512   -36.904
4    -36.904   360.392

In [21]:
# removing datetime column time in test data set in order to convert it into a non-time series problem
test = test.drop('datetime', axis=1)
test.head()

   imb_price    shift1
0  -349.8990  372.9630
1   372.9630  371.4125
2   371.4125  817.3485
3   817.3485  638.5965
4   638.5965 -206.9860

In [22]:
scaler = MinMaxScaler()

In [23]:
train = scaler.fit_transform(train)

In [24]:
test = scaler.transform(test)

In [25]:
train.shape

(45342, 2)

In [29]:
train_X, train_y = train[:,[0]], train[:,[1]]

In [32]:
test_X, test_y = test[:,[0]], test[:,[1]]

In [33]:
train_X.shape

(45342, 1)

In [45]:
# reshape input to be 3D [samples, timesteps, features]
train_X = train_X.reshape((train_X.shape[0], 1, train_X.shape[1]))
test_X = test_X.reshape((test_X.shape[0], 1, test_X.shape[1]))
print(train_X.shape, train_y.shape, test_X.shape, test_y.shape)

(45342, 1, 1) (45342, 1) (19432, 1, 1) (19432, 1)

In [47]:
model = Sequential()
model.add(LSTM(100, input_shape=(train_X.shape[1], train_X.shape[2])))
model.add(Dropout(0.2))
#    model.add(LSTM(70))
#    model.add(Dropout(0.3))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')

In [48]:
# fit network
history = model.fit(train_X, train_y, epochs=20, batch_size=70, validation_data=(test_X, test_y), verbose=2, shuffle=False)

Epoch 1/20
648/648 - 4s - loss: 0.0114 - val_loss: 0.0034 - 4s/epoch - 6ms/step
Epoch 2/20
648/648 - 2s - loss: 0.0036 - val_loss: 0.0034 - 2s/epoch - 2ms/step
Epoch 3/20
648/648 - 2s - loss: 0.0035 - val_loss: 0.0035 - 2s/epoch - 3ms/step
Epoch 4/20
648/648 - 2s - loss: 0.0034 - val_loss: 0.0036 - 2s/epoch - 3ms/step
Epoch 5/20
648/648 - 2s - loss: 0.0034 - val_loss: 0.0037 - 2s/epoch - 3ms/step
Epoch 6/20
648/648 - 2s - loss: 0.0033 - val_loss: 0.0038 - 2s/epoch - 3ms/step
Epoch 7/20
648/648 - 2s - loss: 0.0033 - val_loss: 0.0038 - 2s/epoch - 3ms/step
Epoch 8/20
648/648 - 2s - loss: 0.0032 - val_loss: 0.0037 - 2s/epoch - 3ms/step
Epoch 9/20
648/648 - 2s - loss: 0.0032 - val_loss: 0.0037 - 2s/epoch - 3ms/step
Epoch 10/20
648/648 - 2s - loss: 0.0031 - val_loss: 0.0037 - 2s/epoch - 3ms/step
Epoch 11/20
648/648 - 2s - loss: 0.0031 - val_loss: 0.0036 - 2s/epoch - 3ms/step
Epoch 12/20
648/648 - 2s - loss: 0.0031 - val_loss: 0.0035 - 2s/epoch - 2ms/step
Epoch 13/20
648/648 - 2s - loss: 0.0031 - val_loss: 0.0036 - 2s/epoch - 2ms/step
Epoch 14/20
648/648 - 1s - loss: 0.0030 - val_loss: 0.0035 - 1s/epoch - 2ms/step
Epoch 15/20
648/648 - 1s - loss: 0.0030 - val_loss: 0.0035 - 1s/epoch - 2ms/step
Epoch 16/20
648/648 - 1s - loss: 0.0030 - val_loss: 0.0035 - 1s/epoch - 2ms/step
Epoch 17/20
648/648 - 1s - loss: 0.0030 - val_loss: 0.0034 - 1s/epoch - 2ms/step
Epoch 18/20
648/648 - 1s - loss: 0.0030 - val_loss: 0.0034 - 1s/epoch - 2ms/step
Epoch 19/20
648/648 - 2s - loss: 0.0030 - val_loss: 0.0034 - 2s/epoch - 2ms/step
Epoch 20/20
648/648 - 1s - loss: 0.0030 - val_loss: 0.0034 - 1s/epoch - 2ms/step